{% extends "base.html" %}

{%block title%}
<title>Добавить услугу</title>
{%endblock%}

{%block abs%}

<div class="container">
<form action="/addservices" method="POST">	

		<input type="text" id="name"placeholder="Название услуги" name="servicename" required>

		<input type="text" id="price" placeholder="Цена" name="serviceprice" required>

		<button class="btn-5">Добавить услугу</button> 
</form>
<form action="/services">
	<button class="btn-5">Назад</button> 
</form>
</div>


{%endblock%}
