{% extends "base.html" %}

{%block title%}
<title>Отделение платных услуг</title>
{%endblock%}

{%block abs%}
<div class="container">
<form class="form-field" action="/authcheck" method="POST">

<nav>
      <a href="/" class="active">Авторизация</a>
      <a href="/reg">Регистрация</a>
</nav>

<label for="login">Логин</label>
<input type="text" id="login" name="login">

<label for="password">Пароль</label>
<input type="password" id="password" name="password">


<button class = "btn-5">Войти</button>
  

</form>
</div>
{%endblock%}
